In [8]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [9]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [10]:
# Preprocess the data 
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [11]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [13]:
# One hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
# Combine one hot encoded columns with orignal data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [15]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [16]:
# Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Scale these features  
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.fit_transform(X_test)

In [18]:
# Save the encoders and scalar for later use 
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scalar.pkl', 'wb') as file:
    pickle.dump(scalar, file)

### ANN with regression problem statement

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [21]:
# build the model 
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression 
])

# Compile the model 
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\Shaunak\GenAI with LangChain and HuggingFace\End-to-end ANN project\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Shaunak\GenAI with LangChain and HuggingFace\End-to-end ANN project\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up tensorboard
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [24]:
# Set up early stopping 
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [25]:
# Train the model 
history = model.fit(
    X_train, y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Shaunak\GenAI with LangChain and HuggingFace\End-to-end ANN project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Shaunak\GenAI with LangChain and HuggingFace\End-to-end ANN project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 4ms/step - loss: 100370.3047 - mae: 100370.3047 - val_loss: 98489.6641 - val_mae: 98489.6641
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99508.2422 - mae: 99508.2422 - val_loss: 96722.2500 - val_mae: 96722.2500
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96404.5625 - mae: 96404.5625 - val_loss: 92175.0938 - val_mae: 92175.0938
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 90339.3750 - mae: 90339.3750 - val_loss: 84734.6641 - val_mae: 84734.6641
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 81682.2812 - mae: 81682.2812 - val_loss: 75478.3281 - val_mae: 75478.3281
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 71985.6719 - mae: 71985.6719 - val_loss: 66316.7188 - val_mae: 66316.7188
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 63181.6406 - mae: 63181.6406 - val_loss: 58929.3984 - val_mae: 58929.3984
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 56723.8789 - mae: 56723.8789 - val_loss: 54191.1680 - val_mae: 54191.1680
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 52992.3438 - mae: 52992.3438 - val_loss: 51838.7578 - val_mae: 51838.7578
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 51238.5898 - mae: 51238.5898 - val_loss: 51023.8438 - val_mae: 51023.8438
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50604.1719 - mae: 50604.1719 - val_loss: 50837.6289 - val_mae: 50837.6289
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50363.8516 - mae: 50363.8516 - val_loss: 50779.6758 - val_mae: 50779.6758
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50244.0898 - mae: 50244.0898 - val_loss: 50736.3203 - val_mae: 50736.3203
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50172.9727 - mae: 50172.9727 - val_loss: 50689.1953 - val_mae: 50689.1953
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50120.9844 - mae: 50120.9844 - val_loss: 50659.3398 - val_mae: 50659.3398
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50071.4375 - mae: 50071.4375 - val_loss: 50626.5430 - val_mae: 50626.5430
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50032.3203 - mae: 50032.3203 - val_loss: 50582.4219 - val_mae: 50582.4219
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 49990.4883 - mae: 49990.4883 - val_loss: 50551.1055 - val_mae: 50551.1055
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49959.5195 - mae: 49959.5195 - val_loss: 50521.2383 - val_mae: 50521.2383
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49928.8438 - mae: 49928.8438 - val_loss: 50502.2773 - val_mae: 50502.2773
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49901.3750 - mae: 49901.3750 - val_loss: 50485.6875 - val_mae: 50485.6875
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49872.9062 - mae: 49872.9062 - val_loss: 50465.0117 - val_mae: 50465.0117
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49845.1875 - mae: 49845.1875 - val_loss: 50451.4570 - val_mae: 50451.4570
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49819.7578 - mae: 49819.7578 - val_loss: 50432.5742 - val_mae: 50432.5742
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49800.3164 - mae: 49800.3164 - val_loss: 50427.9609 - val_mae: 50427.9609
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49774.8789 - mae: 49774.8789 - val_loss: 50417.6836 - val_mae: 50417.6836
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49758.5195 - mae: 49758.5195 - val_loss: 50405.6016 - val_mae: 50405.6016
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49737.5664 - mae: 49737.5664 - val_loss: 50413.8125 - val_mae: 50413.8125
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49719.2852 - mae: 49719.2852 - val_loss: 50405.8633 - val_mae: 50405.8633
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49701.5781 - mae: 49701.5781 - val_loss: 50396.7266 - val_mae: 50396.7266
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49684.8320 - mae: 49684.8320 - val_loss: 50384.9336 - val_mae: 50384.9336
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49670.0352 - mae: 49670.0352 - val_loss: 50385.1055 - val_mae: 50385.1055
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49656.4297 - mae: 49656.4297 - val_loss: 50383.4453 - val_mae: 50383.4453
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49639.1719 - mae: 49639.1719 - val_loss: 50379.0078 - val_mae: 50379.0078
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49625.1914 - mae: 49625.1914 - val_loss: 50380.3047 - val_mae: 50380.3047
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49614.3008 - mae: 49614.3008 - val_loss: 50378.5312 - val_mae: 50378.5312
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49603.9570 - mae: 49603.9570 - val_loss: 50385.7148 - val_mae: 50385.7148
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49588.4648 - mae: 49588.4648 - val_loss: 50391.3281 - val_mae: 50391.3281
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49576.6680 - mae: 49576.6680 - val_loss: 50379.5586 - val_mae: 50379.5586
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49568.6914 - mae: 49568.6914 - val_loss: 50376.5625 - val_mae: 50376.5625
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49555.0352 - mae: 49555.0352 - val_loss: 50370.9844 - val_mae: 50370.9844
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49550.1445 - mae: 49550.1445 - val_loss: 50376.2773 - val_mae: 50376.2773
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49538.8047 - mae: 49538.8047 - val_loss: 50378.5000 - val_mae: 50378.5000
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49529.1914 - mae: 49529.1914 - val_loss: 50375.6406 - val_mae: 50375.6406
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49523.6758 - mae: 49523.6758 - val_loss: 50380.1680 - val_mae: 50380.1680
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49514.8945 - mae: 49514.8945 - val_loss: 50383.9727 - val_mae: 50383.9727
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49507.1055 - mae: 49507.1055 - val_loss: 50376.2656 - val_mae: 50376.2656
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49500.8984 - mae: 49500.8984 - val_loss: 50385.8281 - val_mae: 50385.8281
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49489.9375 - mae: 49489.9375 - val_loss: 50383.6367 - val_mae: 50383.6367
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49485.5000 - mae: 49485.5000 - val_loss: 50383.3242 - val_mae: 50383.3242
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49479.6484 - mae: 49479.6484 - val_loss: 50389.4531 - val_mae: 50389.4531

In [26]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 16448), started 0:02:03 ago. (Use '!kill 16448' to kill it.)

In [29]:
# Evaluate model for test data 
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 1s 7ms/step - loss: 50370.9844 - mae: 50370.9844
Test MAE: 50370.984375

In [30]:
model.save('regression_model.h5')

c:\Users\Shaunak\GenAI with LangChain and HuggingFace\End-to-end ANN project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(